nav(class='navbar navbar-expand-md oac-navbar invisible')
  div(class='container')
    a(class='navbar-brand')
      img(src='/images/olympia_logo.png', alt='Olympia Software, LLC.')
    button(class='navbar-toggler', type='button')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse')
      ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
        li(class='nav-item')
          a(class='nav-link') Hidden

nav(class='navbar fixed-top navbar-expand-md oac-navbar')
  div(class='container')
    a(class='navbar-brand', href='/')
      img(src='/images/olympia_logo.png', alt='Olympia Software, LLC.')
    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse', id='navbar')
      ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
        li(class='nav-item')
          a(class='nav-link', href='https://olympiaclipart.nexway.store/checkout/add?products=16b5d983-58dc-47b8-9503-74335de55848') Standard
        li(class='nav-item')
          a(class='nav-link', href='https://olympiaclipart.nexway.store/checkout/add?products=612b769f-1967-4133-bad9-42a8417d81c7') Premium
        li(class='nav-item')
          a(class='nav-link', href='/about/') About
        li(class='nav-item')
          a(class='nav-link', href='http://www.olympiacorp.com.hk/contact', target='_blank') Contact
