extends layout

block content
  div(class='top-banner')
    img(src='images/top_banner.jpeg', class='img-fluid')
  div(class='available-in')
  div(class='illustration-projects')
  div(class='unleash')
  div(class='images-5900')
  div(class='selection')
  div(class='inspired')
  div(class='premium')
  div(class='business-personal')