extends layout

block content
  include partials/top_banner.pug
  include partials/business_personal.pug
  include partials/illustration_projects.pug
  include partials/unleash.pug
  include partials/commercial.pug
  include partials/images_5900.pug
  include partials/selection.pug
  include partials/inspired.pug
  include partials/images_12500.pug
  include partials/premium.pug
  include partials/available_in.pug
