div(class='available-in')
  div(class='container')
    div(class='row')
      div(class='col-xl-2 col-lg-1')
      div(class='col-xl-8 col-lg-10 text-center')
        h2 Available In Standard And Premium
        p A picture's worth 1,000 words and we have that and more for you in Olympia Art Collection and Royalty Free Image line-up!
        p
          a(href="#") Buy Now for PC/MAC
        p Starting at $39.99
      div(class='col-xl-2 col-lg-1')
