div(class='business-personal')
  div(class='container')
    h2(class='text-center') Ideal For Business Or Personal Use On PC &amp; Mac
    div(class='row')
      div(class='col-xl-1')
      div(class='col-xl-5 col-lg-5 text-center')
        a(href='https://olympiaclipart.nexway.store/checkout/add?products=16b5d983-58dc-47b8-9503-74335de55848')
          img(src='images/front_01.jpeg', alt='Olympia Art Collection $39.99', class='img-fluid')
        p Olympia Art Collection $39.99
        p
          a(href='https://olympiaclipart.nexway.store/checkout/add?products=16b5d983-58dc-47b8-9503-74335de55848', class='buy-now-btn') Buy Now
      div(class='col-xl-5 col-lg-7 text-center')
        a(href='https://olympiaclipart.nexway.store/checkout/add?products=612b769f-1967-4133-bad9-42a8417d81c7')
          img(src='images/front_02.jpeg', alt='Olympia Premium Art Collection $39.99', class='img-fluid')
        p Olympia Premium Art Collection $99.99
        p
          a(href='https://olympiaclipart.nexway.store/checkout/add?products=612b769f-1967-4133-bad9-42a8417d81c7', class='buy-now-btn') Buy Now
      div(class='col-xl-1')
