div(class='business-personal')
  div(class='container')
    h2(class='text-center') Ideal For Business Or Personal Use On PC &amp; Mac
    div(class='row')
      div(class='col-xl-1')
      div(class='col-xl-5 col-lg-5 text-center')
        img(src='images/front_01.jpeg', alt='Olympia Art Collection $39.99', class='img-fluid')
        p Olympia Art Collection $39.99
        p
          a(href="#") Buy Now
      div(class='col-xl-5 col-lg-7 text-center')
        img(src='images/front_02.jpeg', alt='Olympia Premium Art Collection $39.99', class='img-fluid')
        p Olympia Premium Art Collection $99.99
        p
          a(href="#") Buy Now
      div(class='col-xl-1')