div(class='commercial')
  div(class='container')
    div(class='row')
      div(class='col-md-7')
        h2 Commercial Use
        p Royalty-free images empower your design possibilities like never before by giving you the ability to sell your designs without worry! These top-quality Royalty Free images give you the creative freedom to make whatever you want for just about any purpose you have— even for commercial applications.
      div(class='col-md-5')
        img(src='images/handshake.jpeg', alt='Commercial Use Images', class='img-fluid')
