div(class='images-12500')
  div(class='container')
    div(class='row')
      div(class='col-lg-5 col-md-6')
        img(src='images/box_02.jpeg', alt='Over 12,500 Royalty Free Images', class='img-fluid')
      div(class='col-lg-7 col-md-6')
        h2 Complete Your Designs With Over 12,500 Images
        p These top-quality royalty-free images give you the creative freedom to make whatever you want for just about any purpose you have &mdash; even for commercial applications.
        ul
          li Commercial Use, Royalty Free Images Empower Your Design Possibilities
          li 12,500+ Clipart Images And Backgrounds
          li All Royalty Free And Suitable For Commercial Use!
          li Use This Art Collection For Advertisements, Business Brochures, Posters, Professional Business Cards, and More!
