nav(class='navbar navbar-expand-md oac-navbar invisible')
  div(class='container')
    a(class='navbar-brand', href='#')
      img(src='images/olympia_logo.png', alt='Olympia Software, LLC.')
    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')
    div(class='collapse navbar-collapse')
      ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
        li(class='nav-item')
          a(class='nav-link', href='#') Hidden

nav(class='navbar fixed-top navbar-expand-md oac-navbar')
  div(class='container')
    a(class='navbar-brand', href='#')
      img(src='images/olympia_logo.png', alt='Olympia Software, LLC.')
    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')

    div(class='collapse navbar-collapse', id='navbar')
      ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
        li(class='nav-item')
          a(class='nav-link', href='#') Standard
        li(class='nav-item')
          a(class='nav-link', href='#') Premium
        li(class='nav-item')
          a(class='nav-link', href='#') About
        li(class='nav-item')
          a(class='nav-link', href='#') Support