div(class='premium')
  div(class='container text-center')
    h2 A Premium Assortment Of Images
    p Use Olympia Premium Art Collection to design what you are selling or using as part of your business, Commercial use – royalty-free images empower your design possibilities like never before.
  div(class='container-fluid text-center')
    img(src='images/samples_03.jpeg', alt='A Premium Assortment Of Images', class='img-fluid')
