div(class='selection')
  div(class='container text-center')
    h2 Superior Selection Of Images
    p Find a world of images and clip art with flowers, people, animals, shapes, symbols, holiday items, seasonal selections, landscapes and much more. Creating a design with a professional look has never been easier. Discover how easy the Olympia Art Collection is to use and how wonderful your projects look when you do.
  div(class='container-fluid text-center')
    img(src='images/samples_02.jpeg', alt='Superior Selection Of Images', class='img-fluid')
