div(class='about')
  div(class='container')
    p The Art Collection by Olympia HK is the best collection of royalty-free images offered for Mac and PC. For one low price you can get access to thousands of cliparts, photos and images that you need. 
    h2 Company Background 
    p The company was founded in 2014 by an experienced management team with a desire to develop and market leading software titles.  The original founder, Malika Bounaira has over 20 years of IT and software experience and recognized the need to offer quality clipart, photos, and images to professionals in graphic design, publishing and education, as well as to the home user.
    p Olympia has offices in Hong Kong and sister companies located in Los Angeles, CA and Valencia, Spain.

